@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #000000;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: none;
}
/* Style the thumb (the part that you drag to scroll) */
::-webkit-scrollbar-thumb {
  background: #464646;
  border-radius: 10px;
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: none;
}

/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 7px;
  background: none;
}


@font-face {
  font-family: alclonica;
  src: url("../fonts/Aclonica-Regular.ttf");
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
